


/* WCA colours
    light green:  #66ce2d
    dark green: #3eae00
    grey:  #575757
    black:  #2D2D2D
*/
div{
	min-height: 50px;
}


body {
	/*background-color: green;*/
	background: rgba(102, 206, 45, .4);
}
 header {
 	clear: both;
 }

 nav {
 	padding-left: 4%;
 }

.logo {
	margin-left:  auto;
	margin-right: auto;
	max-height: 200px;
}

.nav_font {
	font-size: 16px;
}


.opt_container{
	width: 100%;
	text-align:  center;
}
.login-btn {
	float: right;
	margin-right: 5%;
	margin-left: 2%;
}
.logout_btn {
	margin-left: 3%;
	font-size: 8pt;
}
.adm_opt{
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.staff_btns{
	width: 10% !important;
	min-width: 60px;
	min-height: 44px!important;
	margin-right: 1%;
	font-size: 8pt;
	word-break: normal;
	white-space: normal;
}


.login_opt_btn {
	width: 17% !important;
	min-width: 100px;
	min-height: 74px !important;
	margin-right: 2%;
	font-size: 14pt;
	word-break: normal;
	white-space: normal;
}

.login_pg_logout_btn {
	width: 16% !important;
	min-width: 100px;
	min-height: 74px !important;
	margin-left: 3%;
	font-size: 14pt;
	font-weight: 800;
}

.contact-info {
	margin-top: 24px;
	font-size: 20px;
}






/* main content area */

.specail-font-size{
font-size: 30px;

}

.inner-main-content {
	min-height: 500px;
}
.img_used_car {
	margin-left:  auto;
	margin-right: auto;
	width: 100%;
	/*min-width: 150px;*/
	/*max-width: 300px;*/
}
.img_staff {
	margin-left:  auto;
	margin-right: auto;
	width: 95%;
}
.car_image_box {
	height: 457px;
}
.staff_image_box {
	height: 457px;
}

.shadow {
   -moz-box-shadow:    inset 0 0 50px #575757;
   -webkit-box-shadow: inset 0 0 50px #575757;
   box-shadow:         inset 0 0 50px #575757;
   background-color: #fdfdfd;
}

.well_bg {
	background: rgba(102, 206, 45, .1); 
	padding: 0;
}
/* main content area */
footer.navbar {
	margin-bottom: 0;
	background-color: green;
}

footer.navbar p {
	text-align:  center;
	line-height: 50px;
	
}