


/* WCA colours
    light green:  #66ce2d
    dark green: #3eae00
    grey:  #575757
    black:  #2D2D2D

    border: 1px red solid;
*/




body {
	/*background-color: green;*/
	background: rgba(102, 206, 45, .4);
}
header {
 	clear: both;
}

nav {
 	padding-left: 4%;
}
.logo {
	margin-left:  auto;
	margin-right: auto;
	width: 75%;
	max-width: 520px;
	max-height: 200px;
}





/* ***************  index page *************** */

/* ********  main content area  ******* */

.main_con {
	height: auto;
	min-height: 500px;
}
.inner-main-top {
	width: 91%;
	height: auto;
	padding-left: 5%;
	padding-right: 5%;
	min-height: 230px;
}
.inner-main-bottom {
	width: 91%;
	height: auto;
	text-align: center;
}
.main_text {
	font-size: 24px;
	font-style: italic;
	font-weight: 600;
}
.page_title {
	background-color: #000;
	color: #fff;
	font-size: 32px;
	font-weight: 600;
	text-align: center;
}
img.yard {
	height: auto;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
.used_cars_link_btn {
	float: right;
	margin-right: 5%;
	margin-left: 2%;
}
.testmins {
	background-color: #fff;
}

/* ********  side_bar content area  ******* */
.side_bar {
	min-height: 500px;
	float: left;
}
.car_week {
	width: 90%;
	height: auto;
}
.c_o_t_w_1 {
	color: #9f0618;
	font-size: 18px;
	font-weight: 600;
}
.c_o_t_w_2 {
	color: #000;
	font-size: 14px;
}
.c_o_t_w_3 {
	color: #9f0618;
	font-size: 14px;
}
.c_o_t_w_4 {
	color: #000;
	font-size: 16px;
	font-weight: 600;
}
.contact_link_btn {
	/*margin-top: -10px;*/
	float: right;
}


.original_yard {
	width: 45%;
	height: auto;
}
figure {
	float: right;
}




/* ********  report pages (php) content area  ******* */

.login-btn {
	float: right !important;
	margin-right: 5%;
	margin-left: 2%;
}
.logout_btn {
	width: 10%;
	margin-left: 2%;
	font-size: 12pt;
}

.nav_font {
	font-size: 16px !important;
}

.emp_active {
	font-style: italic;
	font-weight: 500;
	text-decoration: underline dotted #000;
	/*text-shadow: 1px 31px 8px #000;*/
}

.opt_container{
	width: 100%;
	/*text-align:  center;*/
}


.logout_btn:hover {
	opacity: 0.5;
}
.adm_opt{
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.adm_opt a:hover {
	opacity: 0.5;
}
.staff_btns{
	width: 10% !important;
	min-width: 90px;
	min-height: 44px!important;
	margin-right: 1%;
	font-size: 12pt;
	word-break: normal;
	white-space: normal;
	opacity: 1;
}
.staff_btns a:hover {
	opacity: 0.5;
}

.past_staff_btn {
	with: 10% !important;
	min-width: 90px;
	min-height: 44px!important;
	margin-right: 1%;
	background-image: none !important;
	background-color: #f6f904;
	color: #000;
	font-size: 12pt;
	word-break: normal;
	white-space: normal;
}
.past_staff_btn:hover {
	opacity: 0.5;
}
.login_opt_btn {
	width: 17% !important;
	min-width: 100px;
	min-height: 74px !important;
	margin-right: 2%;
	font-size: 14pt;
	word-break: normal;
	white-space: normal;
}
.login_opt_btn:hover {
	opacity: 0.5;
}
.login_pg_logout_btn {
	width: 14% !important;
	min-width: 90px;
	min-height: 74px !important;
	margin-left: 3%;
	font-size: 14pt;
	font-weight: 800;
}
.login_pg_logout_btn:hover {
	opacity: 0.5;
}
.contact-info {
	margin-top: 24px;
	font-size: 16px;
	text-align: left !important;
}







}
.img_used_car {
	margin-left:  auto;
	margin-right: auto;
	width: 100%;
	/*min-width: 150px;*/
	/*max-width: 300px;*/
}
.img_staff {
	margin-left:  auto;
	margin-right: auto;
	width: 95%;
}
.car_image_box {
	height: 457px;
}
.staff_image_box {
	height: 457px;
}

.shadow {
   -moz-box-shadow:    inset 0 0 50px #575757;
   -webkit-box-shadow: inset 0 0 50px #575757;
   box-shadow:         inset 0 0 50px #575757;
   background-color: #fdfdfd;
}

.well_bg {
	background: rgba(102, 206, 45, .1); 
	padding: 0;
}
/* main content area */
footer.navbar {
	margin-bottom: 0;
	background-color: green;
}

footer.navbar p {
	text-align:  center;
	line-height: 50px;
	
}