@charset "utf-8";
/* CSS Document */


/*  

>>>>  TABLE OF CONTENT  <<<<

1. General Layout - All Pages
	1.1 General Layout/Structure 
	1.2 General text/fonts and images
	1.3 Footer links
	1.4 Animated (Rotating) Logo (appears on index page only 
	1.5 Toggling DATE & TIME
	1.6 Animated Marque (Sliding)
	1.7 Drop-Down Menu (Navigation Bar)
2. About Page
	2.1 Backgrounds Specific to TIME-OF-DAY
3. Design Page 
	3.1 JQuery toggle text boxes 
	3.2 Pop-up Thumb-nails
	3.3 Individual house layout
	3.4 "Exploded" views of architectural drawings
4. Process Page
	4.1 Slideshow
	4.2 Tabbed textbox
5 Contact Page
	5.1 Contact details layout
	5.2 Social Media Links
	5.3 SUBMITING EMAIL details + Login
	5.4 GoogleMaps
6. SiteMap Page\

*/


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
			1. GENERAL LAYOUT
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* ==========================================================
	1.1 This section configures the general layout of the majority of the pages 
=========================================================== */

body {
	width: 100%;
	max-width: 1024px;
	min-height: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	font-family: Verdana, Arial, helvetica;
	background-color: #f6f6f6;
	-webkit-box-shadow: 0px -3px 15px 2px rgba(0,0,0,0.76);
	-moz-box-shadow: 0px -3px 15px 2px rgba(0,0,0,0.76);
	box-shadow: 0px -3px 15px 2px rgba(0,0,0,0.76);
	/*border: 1px solid #000;*/
}

#my_head {
	width: 100%;
	height: 200px;
	display: inline-block;
	background-color: #f6f6f6;
}


.headerSpinnerMon{
	width: 32%;
	height: 120px;
	display: inline-block;
	background-color: #f6f6f6;
	margin: 0 2% 0 10%;
	/*padding: 0;
	z-index: 5;*/
}

.head_address {
	width: 30%;
	height: 150px;
	margin: 30px 5% 0 13%;
	display: inline-block;
	background-color: #f6f6f6;
	/*background-size: 305px 128px;*/
}

/* ==== NOTE: Navigation is configured further down 
#leftHeader {
	width: 40%;
	height: 140px;
	float: left;
	background-color: #f6f6f6;
	margin-right: 4px;
	margin-bottom: 8px;
	padding: 0;
	background-image: url(../images/logo/logo_390x140.png);
	background-repeat: no-repeat;
	background-size: 390px 140px;
	background-position: center;
}
====== */

#leftHeaderSpinnerTab{
	display: none;
	width: 396px;
	height: 140px;
	float: left;
	background-color: #f6f6f6;
	margin-right: 4px;
	margin-bottom: 8px;
	padding: 0;
}
#leftHeaderSpinnerMobile{
	display:none;
	width: 396px;
	height: 140px;
	float: left;
	background-color: #f6f6f6;
	margin-right: 4px;
	margin-bottom: 8px;
	padding: 0;
}



#main {
	width: 96%;
	height: auto;
	background-color: #f6f6f6;
	float: left;
	margin: 0;
	padding: 2px 2% 2px 2%;
	/*overflow-y: scroll;
	overflow-x: no-display;*/
	position: relative;;
}


footer {
	width: 96%;
	height: auto;
	display: inline-block;
	background-color: #f6f6f6;
	font-size:10px;
	margin-top: 0;
	padding: 2%;
	text-align: center;
}

.abobe_link {
	width: 62%;
	float: right;
}
.adobe_link.img {
	width: 158px;
	height: 39px;	
}

/* ==================================================
	1.2 This section configures all general texts/fonts and images thoughout the site
=====================================================*/
p {
	text-align: left;
	font-size: 12pt;
	font-family:Verdana, Arial, helvetica, san serif;
	color: #000000;
}

h1 {
	text-align: left;
	font-size: 24pt;
	font-weight: 800;
	text-decoration: underline;
	letter-spacing: -2px;
	color: #b40c00;
}
h2 {
	text-align: left;
	font-size: 20pt;
	font-weight: 700;
	color: #b40c00;
}

h3 {
	text-align: left;
	font-size: 16pt;
	font-weight: 600;
	color: #e86600;
}

h4 {
	font-size: 10pt;
}

h5 {
	text-align: left;
	font-size: 16pt;
	font-weight: 600;
	color: #000000;
}
.c2 {
	text-align: center;
}

.subHeading {
	font-style: italic;
	font-weight: 600;
}

.questions {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 17px;
	font-weight: 800;
	font-style: italic;
	/*text-indent: 50px;*/
}
.faqquestions {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 17px;
	font-weight: 800;
	font-style: italic;
	color: #e86600;
}
.statement {						/* DYNAMIC */
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 500;
	font-style: italic;
	text-align: justify;
}
.txtindent {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 500;
	padding-left: 30px;
	text-align: justify;
}
.cl {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 500;
	color: #e86600;
}
.clbold {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 600;
	color: #e86600;
}
.bo {
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 700;
}


/* Indents and justifies unordered-list for Value Statements */

ul.valu_ullist {
	margin-left: 40px;
	margin-bottom: 45px;
	list-style-position: outside;
	text-align: justify;
	
}
li.valu_lilist {
    margin-top: 10px;
	margin-right: 30px;
	color: #000;
}
ul.process {
	color: #e86600;
}
ol.process {
	color: #e86600;
}

ul.sitemap {
	line-height: 20px;
}




/* Formats heading (as per logo) in side bar*/
.t_black {						/* DYNAMIC */
	color: #000000;
	font-size:20px;
}
.t_tan {						/* DYNAMIC */
	color: #b40c00;
	font-size: 22px;
}


/* Centres images/logos in sidebar */
img.center {
	display: block;
	margin: 10px auto ;
	width: 119px;
	height: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}
img.center2 {
	display: block;
	margin: 10px auto ;
	width: 300px;
	height: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}
img.in_line {						/* DYNAMIC */
	display:inline-block;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 120px;
	height: 160px;
	height: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

img.large {
	display: block;
	margin: 10px auto ;
	width: 92%;
	height: auto;
	border-style: solid;
}
img.plan {
	width: 100%;
	float: left;
	margin-right: 10px;	
	margin-top: 15px;
}

/* Formats and positions spacer image in main & sidebar */
img.textspacer1 {				/* DYNAMIC */
	display: block;
	margin: 5px auto ;
	width: 30%;
	height: auto;
}
img.sidespacer {
	display: block;
	margin: 20px auto ;
	width: 100px;
	height: 6px;
}

.loader_gif {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 17%;
}


/* Positions images - left & right justified - in main */
.img_left {				/* DYNAMIC */
	float: left;
	width: 30%;
	height: auto;
	margin-top: 15px;
	margin-right: 15px;
}
.img_right {				/* DYNAMIC */
	float: right;
	width: 30%;
	height: auto;
	margin-left: 15px;
}

.back2top {
	width: 17%;
	height: auto;
	float:right;
	margin-top:-15px;
}


/* ==============================================
	1.3 This section configures the links in the footer 
================================================ */


a.class2:link {
	font-size: 17px;
	font-weight: 600;
	color: #000000;	
	background-color: transparent;
    text-decoration: none;
}
a.class2:visited {
	color: #e86600;
    background-color: transparent;
    text-decoration: none;
}
a.class2:hover {
	color: #b40c00;
    background-color: transparent;
    text-decoration: underline;
}
a.class2:active {
	color: #b40c00;
    background-color: transparent;
    text-decoration: underline;
}



/* ==============================================
	1.4 This section configures the ANIMATED LOGO on index page 
================================================ */

.img_logo {
	width: 130%;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
}
/*
  #stage {
    margin: 1em auto;
    -webkit-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
  }
  */
  .spinner {
    -webkit-animation-name: spinner;-moz-animation-name: spinner;
    -webkit-animation-timing-function: linear;-moz-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;-moz-animation-iteration-count: 1;
    -webkit-animation-duration: 8s;-moz-animation-duration: 8s;
	animation-name: spinner;

	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-duration: 8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .spinner:hover {
    -webkit-animation-play-state: paused;-moz-animation-play-state: paused;
    animation-play-state: paused;
  }
  
  /* WebKit and Opera browsers */
  @-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg); transform: rotateY(0deg);   }
    to   { -webkit-transform: rotateY(-360deg);transform: rotateY(-360deg); }
  }

  /* all other browsers */
  @keyframes spinner {
    from {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(-360deg);
              transform: rotateY(-360deg);
    }
  }



/* =================================================
	1.5 Toggling DATE & TIME \
================================================== */

button {
	float: right;
	display:inline-block;
	z-index: -1;		
}
#tick {
	width: 200px;
	height: auto;
	display:inline-block;
	float: right;
	background-color:#eae9d4;
	padding: 6px;
	font-family: 'Droid Sans', sans-serif;
	font-size: 12pt;
	font-weight: 600;
	line-height: 1.5;
	text-align: center;
	color: #495a62;
	box-shadow: 0 0 20px rgba(0,0,0, .75);
	border-radius:8px;
	position: absolute;
	top: 35px;
	right: 10px;
	z-index: 222;
}



/* ==============================================
 	1.6 This section is for the ANIMATES MARQUE throughout all page   
====================================================  */
.marquee {
	width: 96%;
	height: 100px;
	z-index: 10;
	margin: 5px 2%;
	overflow: hidden;
	position: relative;
    text-shadow: 0 2px 2px  rgba(0, 0, 0, .5), 0 1px 0  rgba(250, 250, 250, .2);
	-webkit-transition: background-color 350ms; -moz-transition: background-color 350ms; -o-transition: background-color 350ms;
    transition: background-color 350ms;
}

.marquee p.lg_marquee {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	margin: 0;
	
	line-height: 50px;

	text-align: left;
	
	font-size: 36px;
	font-weight: 800;
	letter-spacing: -2px;
	color: #b40c00;
	
	-moz-transform:translateX(100%);-ms-transform:translateX(100%); -o-transform:translateX(100%);
	-webkit-transform:translateX(100%);
	transform:translateX(100%); -o-transition:translateX(100%);-moz-transition:translateX(100%);
	-webkit-transition: width 2s, height 2s, -webkit-transform 4s; /* Safari */
    transition: transform 4s;
}

.marquee p.sm_marquee {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	margin: 0;
	line-height: 140px;
	text-align: right;
	
	font-size: 22px;
	font-weight: 800;
	letter-spacing: -2px;
	color: #b40c00;
	
	-moz-transform:translateX(100%); -ms-transform:translateX(100%); -o-transform:translateX(100%);
	-webkit-transform:translateX(100%);
	transform:translateX(100%);
}

.italictext {
	font-style: italic;
}

.marquee p:nth-child(1) {
	animation: left-one 8s ease 1 ;
	-moz-animation: left-one 8s ease 1;
	-webkit-animation: left-one 8s ease 1;
}
.marquee p:nth-child(2) {
	animation: left-two 8s ease 1;
	-moz-animation: left-two 8s ease 1;
	-webkit-animation: left-two 8s ease 1;
}

.marquee p:nth-child(1) { 
    -ms-transform: translate(0); -moz-transform: translate(0); -o-transform: translate(0);  /* IE 9 *//* IE 9 */
    -webkit-transform: translate(0); /* Safari */
    transform: translate(0);
}
.marquee p:nth-child(2) { 
	-ms-transform: translate(0); -o-transform: translate(0); /* IE 9 */
   	-webkit-transform: translate(0); -moz-transform: translate(0);   /* Safari */
   transform: translate(0);
}




/*-----------------------------------
	Move the Marquee to the Left
---------------------------------------*/
@keyframes left-one {
    0% 	{        -webkit-transform:translateX(0);        -moz-transform:translateX(0);  transform:translateX(0);        	}
    50% {        -webkit-transform:translateX(0);        -moz-transform:translateX(0);transform:translateX(0);    	 }
	60% {        -webkit-transform:translateX(-100%);    -moz-transform:translateX(-100%);    transform:translateX(-100%);   }
	90% {        -webkit-transform:translateX(-100%);    -moz-transform:translateX(-100%);    transform:translateX(-100%);     }
    100%{        -webkit-transform:translateX(0);        -moz-transform:translateX(0); transform:translateX(0);     	}
}
@keyframes left-two {
    0% {        -webkit-transform:translateX(100%);      -moz-transform:translateX(100%);  transform:translateX(100%);       	}
    50% {        -webkit-transform:translateX(100%);     -moz-transform:translateX(100%);  transform:translateX(100%);   	}
    60% {        -webkit-transform:translateX(0);        -moz-transform:translateX(0);   transform:translateX(0);     }
    100%{        -webkit-transform:translateX(0);        -moz-transform:translateX(0);   transform:translateX(0);   }
}

/** Mozilla Firefox Keyframes **/

/** Webkit Keyframes **/
@-webkit-keyframes left-one {
    0%  {        -webkit-transform:translateX(0);   transform:translateX(0); }
    50% {        -webkit-transform:translateX(0);   transform:translateX(0);	 }
	60% {        -webkit-transform:translateX(-100%); transform:translateX(-100%);   }
	90% {        -webkit-transform:translateX(-100%);  transform:translateX(-100%);  }
    100%{        -webkit-transform:translateX(0);   transform:translateX(0)	}
}
@-webkit-keyframes left-two {
    0% {        -webkit-transform:translateX(100%);  transform:translateX(100%);  }
    50% {        -webkit-transform:translateX(100%);  transform:translateX(100%); }
    60% {        -webkit-transform:translateX(0);  transform:translateX(0);    }
    100%{        -webkit-transform:translateX(0);  transform:translateX(0); }
}





/* ==============================================
 	1.7 This section is for the DROP-DOWN-MENU (Navigation Bar) throughout all page   
====================================================  */


/*
#container {
  margin: 0 auto;
  max-width: 890px;
}

p {  }*/
 .toggle, [id^=drop] {
 display: none;
}

nav {
  width: 96.1%;
  height: 35px;
  margin: 0;
  padding: 5px 2% 2px 2%;
  background-color: #b40c00;
  display: inline-block;
  text-align:right;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  /*float: right;*/
  display: inline-block;
  padding: 2px;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0;
  display: inline-block;
  float: left;
  background-color: #b40c00;
}

nav a {
  display: block;
  padding: 0 12px;
  color: #FFF;
  font-size: 16px;
  /*line-height: 60px;*/
  text-decoration: none;
  
}

nav ul li ul li:hover { background: #000000; }

nav a:hover { background-color: #000000; }

nav ul ul {
  display: none;
  position: absolute;
  top: 24px;
  z-index: 20;
  
}

nav ul li:hover > ul { 
  display: inherit; 
  width: 20px;
}

nav ul ul li {
  width: 130px;
  padding: 5px;
  float: none;
  display: list-item;
  position: relative;
  
}
						/* #e86600 */
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

li > a:after { content: ' +'; }

li > a:only-child:after { content: ''; }






/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
					 2. ABOUT PAGE 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* ========= Backgrounds Specific to TIME-OF-DAY =========== */


/* "../images/backgrounds/daytime_1920z2500" */
/* "../images/backgrounds/limbo_2560x1600.jpg" */
/* "../images/backgrounds/night_sky_2349x1755.jpg" */

.day {
  	background: url("../images/backgrounds/daytime_1920z2500.jpg");
  	-webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}

.sunset {
  	background: url("../images/backgrounds/limbo_1920x2500.jpg");
	background-size: cover;
}

.night {
  	background: url("../images/backgrounds/night_sky_1920x2500.jpg");
  	background-size:contain;
  
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
					 3. DESIGN PAGE 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* ====================================================
 	3.1 This section is for the JQuery toggle text boxes   
=================================================== */

.main-content-area{
	background-color:#f6f6f6;
	/*min-height: 200px;*/
	width:96%;
	/*position: relative;*/
	margin: 0 2% 1% 2%;
	
}
.b1 {
	font-size:18px;
}
#mansion {
	width: 94%;
	height: 480px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display:inline-block;
	background-image: url("../images/designs/great_house.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color:#eae9d4;
	padding: 10px;
	font-family: 'Droid Sans', sans-serif;
	font-size:.9em;
	text-align: center;
	color: #495a62;
	border: 20px solid #eae9d4;
	box-shadow: 0 0 20px rgba(0,0,0, .75);
	border-radius:8px;
}


.tbox1 {
	width: 40%;
	position: absolute;
	top: 30%;
	left: 44%;
	cursor: pointer;
	background-color:#f6f6f6;
	padding: 10px;
	font-family: 'Droid Sans', sans-serif;
	font-size:1.1em;
	text-align: center;
	color: #495a62;
	border: 2px solid red;
	box-shadow: 0 0 20px rgba(0,0,0, .75);
	border-radius:8px;
}

.tbox2 {
	width: 40%;
	position: absolute;
	top: 50%;
	left: 44%;
	cursor: pointer;
	background-color:#f6f6f6;
	padding: 8px;
	font-family: 'Droid Sans', sans-serif;
	font-size:1.1em;
	text-align: center;
	color: #495a62;
	border: 2px solid red;
	box-shadow: 0 0 20px rgba(0,0,0, .75);
	border-radius:8px;
}

.tbox3 {
	width: 30%;
	position: absolute;
	top: 64%;
	left: 5%;
	cursor: pointer;
	background-color:#f6f6f6;
	padding: 10px;
	font-family: 'Droid Sans', sans-serif;
	font-size:1.1em;
	text-align: center;
	color: #495a62;
	border: 2px solid red;
	box-shadow: 0 0 20px rgba(0,0,0, .75);
	border-radius:8px;
}



/* ====================================================
 	3.2 This section is for the pop-up enlarged views of the thumb-nails in the "designs" page   
=================================================== */
 
 #design_thumbs {
	min-width: 800px;
	/*height: auto;*/
	margin-right: auto;
	margin-left: auto;
}

/* The following script was sourced from http://cssdemos.tupence.co.uk/image-popup.htm  */

	ul.enlarge {
		list-style-type:none; /*remove the bullet point*/
		width: 100%;
		text-align: center;
    }
    ul.enlarge li {
		display:inline-block; /*places the images in a line*/
		width: 29%;
		font-size: 11px;
		text-align: center;
		position: relative;
		z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
    	margin:10px 25px 2px -15px; /*margin:10px 40px 0 20px;*/
    }
    ul.enlarge img {
		background-color:#eae9d4;
		padding: 6px;
		box-shadow: 0 0 6px rgba(132, 132, 132, .75);
		border-radius: 4px;
    }
	
	ul.enlarge img.sm {
		display:inline-block;
		width: 75%;
		height: auto;
	}
	ul.enlarge img.lg {
		display:inline-block;
		width: 520px;
		height: auto;
	}
	ul.enlarge img.sm:hover{
		opacity: 0.4;
		filter: alpha(opacity=40); /* For IE8 and earlier */
	}
	
    ul.enlarge span {
		position:absolute;
		left: -9999px;
		background-color:#eae9d4;
		padding: 10px;
		font-family: 'Droid Sans', sans-serif;
		font-size:.9em;
		text-align: center;
		color: #495a62;
		box-shadow: 0 0 20px rgba(0,0,0, .75);
		border-radius:8px;
    }
    ul.enlarge li:hover {
		z-index: 50;
		cursor:pointer;
    }
    ul.enlarge span img {
		padding:2px;
		background:#ccc;
		
    }
    ul.enlarge li:hover span {
		top: -240px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
		left: -41px; /*distance from the left of the thumbnail to the left of the popup image*/
    }
    ul.enlarge li:hover:nth-child(2) span{
    	left: -199px;
    }
    ul.enlarge li:hover:nth-child(3) span{
    	left: -358px;
    }
    ul.enlarge li:hover:nth-child(4) span{
		top: -372px;
    	left: -40px;
    }
    ul.enlarge li:hover:nth-child(5) span{
		top: -372px;
    	left: -199px;
    }
	ul.enlarge li:hover:nth-child(6) span{
		top: -372px;
    	left: -358px;
    }

	

/* ==============================================
	3.3 This section configures the various divs on the individual house design pages 
================================================ */
#plan {
	width: 55%;
	float: left;
	margin-right: 5px;
	margin-top: -25px;
	margin-left: 40px;
}
#dimensions {
	width: 33%;
	padding-left: 10px;
	padding-right: 10px;
	float:left;
	/*float: right;*/
}
ul.dimentions {
	list-style-type:none; /*remove the bullet point*/
	margin-left:-20px;
	text-align:right;
	/*padding-left: 22px;
	padding-right: 2px;*/
    }
#features {
	width: 45%;
	padding-left: 10px;
	float: left;
	clear:both;
}
#inclusions {
	width: 45%;
	padding-left: 10px;
	float: right;
}



/* ===================================================
	3.4 The following section is applied to the "exploded" views of architectual drawings on each individual desin page 
====================================================== */

ul.exploded{
		list-style-type:none; /*remove the bullet point*/
		margin-left:0;
    }
    ul.exploded li{
		display:inline-block; /*places the images in a line*/
		font-size: 11px;
		text-align: center;
		position: relative;
		z-index: 0; /*resets the stack order of the list items */
    	margin:20px 25px 2px -25px; /*margin:10px 40px 0 20px;*/
    }
    ul.exploded img{
		background-color:#eae9d4;
		padding: 6px;
		box-shadow: 0 0 6px rgba(132, 132, 132, .75);
		border-radius: 4px;
    }
	
	ul.exploded img.sm {
		display:inline-block;
		width: 131px;
		height: auto;
	}
	ul.exploded img.lg {
		display:inline-block;
		width: 96%;
		height: auto;
	}
	
    ul.exploded span{
		position:absolute;
		left: -9999px;
		width: 130%;
		background-color:#eae9d4;
		padding: 10px;
		font-family: 'Droid Sans', sans-serif;
		font-size:.9em;
		text-align: center;
		color: #495a62;
		box-shadow: 0 0 20px rgba(0,0,0, .75);
		border-radius:8px;
    }
    ul.exploded li:hover{
		z-index: 50;
		cursor:pointer;
    }
    ul.exploded span img{
		padding:2px;
		background:#ccc;
    }
    ul.exploded li:hover span{
		top: 1%; /*the distance from the bottom of the thumbnail to the top of the popup image*/
		left: 4%; /*distance from the left of the thumbnail to the left of the popup image*/
    }
    



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 
				4. PROCESS PAGE 
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* ===================================================
	4.1 The following section is applied to the Slideshow on the Process page 
====================================================== */

#slideshow1 {
	margin-top: 10px;
	width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	}
	
.slideholder {
	width: 90%; 
	height: 90%;
}

/* ===================================================
	4.2 The following section is applied to the Tabbed-Textbox on the Process page 
====================================================== */	


#container {
	height: 650px;
}

#tabs {
	width: 100%;
	height: 700px;
	margin: 20px 0;
	background: #e9e5dc;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 6px #333;
	-moz-border-radius:7px;
    -webkit-border-radius:7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
#tab-1, #tab-2, #tab-3, #tab-4, #tab-5, #tab-6, #tab-7, #tab-8, #tab-9, #tab-10, #tab-11, #tab-12 {
	min-height: 280px;
	max-height: 480px;
	padding-top: 5px;
	overflow-y: scroll;
	overflow-x: no-display;
	border-top:solid;
	border-width: 3px;
	border-color: #000;
	font-size: 12pt;
}
#tabs ul {
	background: #e9e5dc;
	width: 98%;
	padding-top: 4px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}
#tabs li {
	margin-left: 2%;
	width: 13%;
	list-style: none;
	text-align:center;
	border-top:1px #B3B3B3 solid;
	border-left:1px #B3B3B3 solid;
	border-right:1px #B3B3B3 solid;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
* html #tabs li {
	display: inline;
}


#tabs li, #tabs li a {
	float: left;
	width: 13%;
	/*text-align:center;*/
}
#tabs ul li.active {
	height: 125%;
	border-top: 5px #b40c00 solid;
	background-color: #eee;
	-moz-box-shadow: 0 0 7px #000;
	-webkit-box-shadow: 0 0 7px #000;
	box-shadow: 0 0 19px #000;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#tabs ul li.active a {
	color: #b40c00;
}
#tabs div {
	background-color:#e9e5dc;
	clear: both;
	padding: 15px;
	min-height: 200px;
}
#tabs div h3 {
	margin-bottom: 12px;
}
#tabs div p {
	line-height: 150%;
	font-size: 12pt;
}
#tabs div p.indents{
	line-height: 150%;
	font-size: 12pt;
	margin-left: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
}
#tabs ul li a {
	text-decoration: none;
	padding: 8px;
	color: #000;
	font-weight: bold;
	font-size: 14pt;
}
.thumbs {
	float:left;
	border:#000 solid 1px;
	margin-bottom:20px;
	margin-right:20px;
}

pre {
	font-family:inherit;
	font-size: 12pt;
	line-height: 130%;
	padding-top: 2%;
}
.line_gap {
	line-height: 12px;
}
.row1 {
	height: 52px;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	-moz-border-radius:7px;
    -webkit-border-radius:7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

}
.row2 {
	height: 52px;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
}





/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
				5. CONTACT PAGE
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/*  */


/* ================================================== 
	5.1 This section is for the structure of the contact page    
===================================================== */

#contact-page {							/* DYNAMIC */
    background-color:#e9e5dc;
    width: 92%;
	padding: 5px 1% 40px 3%;
	margin: 19px 2% 20px 2%;

    border: 3px #e86600;
	border-top-style: solid ;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
#cFHead {
	width: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-page img.lrg {
	display: inline-block;
	margin: 29px 20px 20px 29px;
	width: 50%;
	height: auto;
	border-style: solid; /* IE 9 */
    -webkit-transform: skew(11deg, 5deg); /* Safari */
    transform: skew(11deg, 5deg); /* Standard syntax */
}

#contact-page h1 {
    font-size:30px;
}

.contact_page_h2 {
    margin-bottom:11px;
    font-style:italic;
    font-weight:normal;
}



/* ====================================================
 	5.2 This section is for the SOCIAL MEDIA bar/buttons in the "contact" page   
=================================================== */
/*
@import url(http://fonts.googleapis.com/css?family=Lato);
*/

p > a:hover {
  color: #d9d9d9;
  text-decoration: underline;
}


._12 {
  font-size: 1.2em;
}

._14 {
  font-size: 1.4em;
}

ul {
  padding: 0;
  list-style: none;
}

.fr-social-icons {						/* DYNAMIC */
  width: 35%;
  height: 150px;
  display: inline-block;
  padding-bottom: 10px;
  margin: -35px 10px 0 30px;
  border: 3px #e86600;
  background-color:#e9e5dc;
  /*border: 1px green solid;*/
}

.social-icon {
  color: #fff;
}

ul.social-icons {
  margin-top: 0;
  display: inline-block;
}

li img{
	width: 14%;
	margin-left: 0.5%;
}

li img:hover{
	box-shadow: 2px 2px 7px #b40c00;
}

.social-icons li {
  vertical-align: top;
  display: inline;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-facebook {
  padding: 10px 14px 7px 14px;
  -webkit-transition: .5s; 
  -o-transition: .5s; 
  -moz-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-twitter {
  padding: 10px 10px 7px 10px;
  -webkit-transition: .5s; 
  -o-transition: .5s; 
  -moz-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-twitter:hover {
  background-color: #00aced;
  box-shadow: 2px 2px 2px #b40c00;
}

.fa-rss {
  padding: 10px 12px 7px 12px;
  -webkit-transition: .5s; 
  -o-transition: .5s; 
  -moz-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-rss:hover {
  background-color: #eb8231;
}

.fa-youtube {
  padding: 10px 12px 7px 11px;
  -webkit-transition: .5s; 
  -o-transition: .5s; 
  -moz-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-youtube:hover {
  background-color: #e64a41;
}

.fa-linkedin {
  padding: 10px 11px 8px 11px;
  -webkit-transition: .5s; 
  -o-transition: .5s; 
  -moz-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-linkedin:hover {
  background-color: #0073a4;
  box-shadow: 2px 2px 2px #b40c00;
}

.fa-google-plus {
  padding: 10px 10px 7px 10px;
  -webkit-transition: .5s; 
  -o-transition: .5s; 
  -moz-transition: .5s;
  transition: .5s;
  background-color: #e9e5dc;
}

.fa-google-plus:hover {
  background-color: #e25714;
}


/* ================================================== 
	5.3 This section is for displaying CONTACT DETAILS   
===================================================== */

.contact_details {
	width: 100%;
	height: auto;
	display: inline-block;
	margin: 2% 0 1% 2.5%;
	/*border: 1px blue solid;*/
}
#our_details {
	width: 95%;
	height: 350px;
	/*border: 1px red solid;*/
	padding: 10px 2%;
	margin-bottom: 12px;
	display: inline-block;
}
.cont_icons {
	width: 3%;
	height: auto;
	padding: 0 1%;
	display: inline-block;
	line-height: 1.5;
}
.cont_details {
	width: 40%;
	height: auto;
	padding-left: 3%;
	line-height: 1.5;
	display: inline-block;
}
.hours {
	width: 38%;
	margin-top: -55px;
	height: auto;
	padding-left:5%;
	display: inline-block;
}

/* ================================================== 
	5.4 This section is for the SUBMITING EMAIL details + Login   
===================================================== */

#email_container{
	width: 88%;
	height: auto;
	display: inline-block;
	margin: 2%;
	padding: 3%;
	/*
	border-top-style: solid ;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;*/
    border: 1px solid #e86600;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-box-shadow:    inset 0 0 25px #e86600;
    -webkit-box-shadow: inset 0 0 25px #e86600;
    box-shadow:         inset 0 0 25px #e86600;
}
form {
	width: 100%;
	min-height: 160px;
}

.e_title {
	width: 18%;
	height: 36px;
	padding: 19px 2% 10px 2%;
	font-size:18px;
	font-weight: 600;
	text-align: right;
	display: inline-block;
	
	background: #DFDCDB;
	border: 1px #e86600 solid;
	border-top-left-radius: 15px;
	/*border-top-right-radius: none;*/
	border-bottom-left-radius: 15px;
	/*border-bottom-right-radius: none;*/
	-moz-box-shadow:    inset 0 0 10px #e86600;
    -webkit-box-shadow: inset 0 0 10px #e86600;
    box-shadow:         inset 0 0 10px #e86600;
}

.e_title_input {
	width: 72%;
	height: 33px;
	padding: 2% 2%;
	margin-left: -1%;
	font-size:18px;
	font-weight: 600;
	display: inline-block;
	position: relative;
	top: 2px;
	background: #F1F1F1;
	border: 1px #e86600 solid;
	/*border-top-left-radius: none;*/
	border-top-right-radius: 15px;
	/*border-bottom-left-radius: none;*/
	border-bottom-right-radius: 15px;
	-moz-box-shadow:    inset 0 0 10px #e86600;
    -webkit-box-shadow: inset 0 0 10px #e86600;
    box-shadow:         inset 0 0 10px #e86600;
}
.txtbox {
	margin: 0 2%;
}

.btn_submit {
	width: 14%;
	height: 50px;
	padding: 4px 2%;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	border: 1px #187E20;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	-moz-box-shadow:    inset 0 0 10px #187E20;
    -webkit-box-shadow: inset 0 0 10px #187E20;
    box-shadow:         inset 0 0 10px #187E20;
}

.btn_submit:hover {
	background-color: #FFFFFF;
	border: 1px #1D5622;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	box-shadow: 0 0 20px #1B513C;
}

.btn_adminLogin {
	float: right;
	width: 9%;
	height: 40px;
	padding: 2% 3%;
	margin-right: 1%;
	font-weight: 600;
	color: #000;
	text-decoration: none;
	display: inline-block;
	border: 1px #b40c00 solid;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	-moz-box-shadow:    inset 0 0 10px #b40c00;
    -webkit-box-shadow: inset 0 0 10px #b40c00;
    box-shadow:         inset 0 0 10px #b40c00;
}


.login_header {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_container{
	width: 89.6%;
	height: auto;
	display: inline-block;
	margin: 2%;
	padding: 3%;
	/*
	border-top-style: solid ;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;*/
    border: 1px solid #e86600;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-box-shadow:    inset 0 0 25px #e86600;
    -webkit-box-shadow: inset 0 0 25px #e86600;
    box-shadow:         inset 0 0 25px #e86600;
}


.login_title {
	width: 17%;
	height: 40px;
	padding: 19px 2% 10px 2%;
	font-size:18px;
	font-weight: 600;
	text-align: right;
	display: inline-block;
	
	background: #DFDCDB;
	border: 1px #e86600 solid;
	border-top-left-radius: 15px;
	/*border-top-right-radius: none;*/
	border-bottom-left-radius: 15px;
	/*border-bottom-right-radius: none;*/
	-moz-box-shadow:    inset 0 0 10px #e86600;
    -webkit-box-shadow: inset 0 0 10px #e86600;
    box-shadow:         inset 0 0 10px #e86600;
}

.login_title_input {
	width: 74%;
	height: 33px;
	padding: 2% 2%;
	margin-left: -1%;
	font-size:18px;
	font-weight: 600;
	display: inline-block;
	position: relative;
	top: 4px;
	background: #F1F1F1;
	border: 1px #e86600 solid;
	/*border-top-left-radius: none;*/
	border-top-right-radius: 15px;
	/*border-bottom-left-radius: none;*/
	border-bottom-right-radius: 15px;
	-moz-box-shadow:    inset 0 0 10px #e86600;
    -webkit-box-shadow: inset 0 0 10px #e86600;
    box-shadow:         inset 0 0 10px #e86600;
}

.body_DB {
	height: auto;
}

#database_container{
	width: 88%;
	height: auto;
	display: inline-block;
	margin: 2%;
	padding: 3%;
	/*
	border-top-style: solid ;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;*/
    border: 1px solid #e86600;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-box-shadow:    inset 0 0 25px #e86600;
    -webkit-box-shadow: inset 0 0 25px #e86600;
    box-shadow:         inset 0 0 25px #e86600;
}




.database_table {
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 15px;
  /*border: 1px solid #167F92;*/
  border: 1px solid #b40c00;
}
.database_table tr {
  /*border: 1px solid #D9E4E6;*/
  border: 1px solid #b40c00;
}
.database_table tr:nth-child(odd) {
  background-color: #fef1f0;
}
.database_table th {
  display: none;
  border: 1px solid #FFF;
  /*border-radius: 15px;
  background-color: #167F92;*/
  background-color: #b40c00;
  color: #FFF;
  padding: 1em;
}

/*
#b40c00
fef1f0
fefbfb
*/

.database_table th:first-child {
  display: table-cell;
  text-align: center;
  /*border-radius: 15px;*/
  border-top-left-radius: 15px;
  /*border-top-right-radius: none;*/

}
.database_table th:nth-child(2) {
  display: table-cell;
  text-align: center;
  /*border-top-left-radius: none;*/
  border-top-right-radius: 15px;

}
.database_table th:nth-child(2) span {
  display: none;
}
/*  .database_table th:nth-child(2):after {
  content: attr(data-th);
}  */
/*
@media (min-width: 480px) {
  .database_table th:nth-child(2) span {
    display: block;
  }
  .database_table th:nth-child(2):after {
    display: none;
  }
}*/
.database_table td {
  display: block;
  word-wrap: break-word;
  max-width: 90%
}
.database_table td:first-child {
  display: table-cell;
  text-align: center;
  /*border-right: 1px solid #D9E4E6;*/
  border-right: 1px solid #f8c7c3;
}

/*
@media (min-width: 480px) {
  .database_table td {
    /*border: 1px solid #D9E4E6;
	border: 1px solid #f8c7c3;
  }
}*/
.database_table th, .database_table td {
  text-align: center;
  margin: .5em 1em;
}
/*
@media (min-width: 480px) {
  .database_table th, .database_table td {
    display: table-cell;
    padding: 1em;
  }
}
*/
.del_title {
	width: 17%;
	height: 40px;
	padding: 19px 2% 10px 2%;
	font-size:18px;
	font-weight: 600;
	text-align: right;
	display: inline-block;
	
	background: #DFDCDB;
	border: 1px #e86600 solid;
	border-top-left-radius: 15px;
	/*border-top-right-radius: none;*/
	border-bottom-left-radius: 15px;
	/*border-bottom-right-radius: none;*/
	-moz-box-shadow:    inset 0 0 10px #e86600;
    -webkit-box-shadow: inset 0 0 10px #e86600;
    box-shadow:         inset 0 0 10px #e86600;
}

.del_title_input {
	width: 74%;
	height: 33px;
	padding: 2% 2%;
	margin-left: -1%;
	font-size:18px;
	font-weight: 600;
	display: inline-block;
	position: relative;
	top: 4px;
	background: #F1F1F1;
	border: 1px #e86600 solid;
	/*border-top-left-radius: none;*/
	border-top-right-radius: 15px;
	/*border-bottom-left-radius: none;*/
	border-bottom-right-radius: 15px;
	-moz-box-shadow:    inset 0 0 10px #e86600;
    -webkit-box-shadow: inset 0 0 10px #e86600;
    box-shadow:         inset 0 0 10px #e86600;
}

.btn_admin_del {
	float: right;
	width: 126px;
	height: 46px;
	padding: 1% 3%;
	font-size:16px;
	font-weight: 600;
	color: #000;
	text-decoration: none;
	display: inline-block;
	border: 1px #b40c00 solid;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	-moz-box-shadow:    inset 0 0 10px #b40c00;
    -webkit-box-shadow: inset 0 0 10px #b40c00;
    box-shadow:         inset 0 0 10px #b40c00;
}

.btn_admin_logout {
	float: right;
	width: 85px;
	height: 22px;
	padding: 20px 20px;
	font-size:16px;
	font-weight: 600;
	color: #000;
	text-decoration: none;
	display: inline-block;
	border: 1px #e86600 solid;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	-moz-box-shadow:    inset 0 0 10px #e86600;
    -webkit-box-shadow: inset 0 0 10px #e86600;
    box-shadow:         inset 0 0 10px #e86600;
}

.btn_admin_BTAR {
	float: left;
	width: 140px;
	height: 45px;
	padding: 1% 3%;
	font-size:16px;
	font-weight: 600;
	color: #000;
	text-decoration: none;
	display: inline-block;
	border: 1px green solid;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	-moz-box-shadow:    inset 0 0 10px green;
    -webkit-box-shadow: inset 0 0 10px green;
    box-shadow:         inset 0 0 10px green;
}


#sent_container {
	width: 75%;
	min-height: 300px;
	display: inline-block;
	margin: 0 auto;
	padding: 4%;
	/*
	border-top-style: solid ;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;*/
    border: 1px solid #e86600;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-box-shadow:    inset 0 0 25px #e86600;
    -webkit-box-shadow: inset 0 0 25px #e86600;
    box-shadow:         inset 0 0 25px #e86600;
}

/* ====================================================
 	5.5 This section formats the GoogleMap feature in the "contact" page   
=================================================== */

.gMSpacer {
	width: 92%;
	height: 40px;
	margin: -4% 2%;
	padding: 0 2% 1% 2%;
	background: #e9e5dc;
	border: 3px #e86600;
	border-top-style: none ;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
}

#gmap_container{
	border-style: solid;
	/*border-width: 1px #000 solid;*/
	width: 88%;
	height: 400px;
	margin: 2% 2%;
	padding: 3% 4%;
	background: #e9e5dc; 
	border: 3px #e86600;
	border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
/* CSS for the GoogleMaps button */
#gmap_canvas {						/* DYNAMIC */
	width: 100%;
	height:400px;
	float:left;
	z-index: 5;
	overflow:hidden;
	-webkit-box-shadow: 0px -3px 15px 2px rgba(0,0,0,0.76);
	-moz-box-shadow: 0px -3px 15px 2px rgba(0,0,0,0.76);
	box-shadow: 0px -3px 15px 2px rgba(0,0,0,0.76);
	-moz-border-radius:15px;
    -webkit-border-radius:15px;
	border-radius:15px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-radius: 15px;

}




/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
				6. SITEMAP PAGE
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* ================================================== 
	This section is for the SiteMap   
===================================================== */

#site {
	width: 150px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	
}
li a {
	text-decoration: none;
	line-height: 150%;
}

